<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %} 写文章 {% endblock head_title %}

{% block extra_head %}
    <!-- 引入mdeditor编辑器的样式 -->
    <link rel="stylesheet" href="{% static 'mdeditor/css/editormd.min.css' %}">
{% endblock extra_head %}

{% block content %}
<!-- 写文章表单 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表单 -->
            <form method="post" action="." enctype="multipart/form-data">
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                <!-- 文章标题图 -->
                <div class="form-group">
                    <label for="avatar">标题图</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <!-- 文章标题 -->
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="title">文章标题</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <!-- 文章栏目 -->
                <div class="form-group">
                    <label for="column">栏目</label>
                    <select class="form-control col-3" id="column" name="column">
                        <option value="none">请选择栏目..</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- 文章标签 -->
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="tags">标签</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control col-3" id="tags" name="tags">
                </div>
                <!-- 文章正文 -->
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <!-- 文本区域 -->
                    {# 改用 mdeditor编写正文 #}
                    <div class="wmd-wrapper"  id="id_body-wmd-wrapper">
                        <textarea  cols="40" id="id_body" name="body" rows="10" required></textarea>
                    </div>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
    <!-- 引入mdeditor编辑器的静态资源 -->
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <!-- 文章正文 mdeditor编辑器控件的渲染 -->
    <script src="{% static 'mdeditor/id_body-wmd-wrapper.js' %}"></script>
{% endblock script %}
